.navbar-collapse.collapsing, .navbar-collapse.in, .navbar-default {
  background-color: hsla(0,0%,100%,.94);
}

.navbar-default .navbar-brand {
  background-image: url('https://capitalplanning.nyc.gov/img/logo_120.png');
  background-repeat: no-repeat;
  background-position: 16px 9px;
  background-size: 66px;
  height: 50px;
  width: 100px;
  padding: 0;
}

@media (min-width: 768px) {
  .navbar-custom.affix {
      background-color: hsla(0,0%,100%,.94);
  }
}

.navbar-custom .nav li a, .navbar-custom .navbar-toggle {
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #D96B27;
}

.navbar-custom .navbar-nav>.active>a:focus, .navbar-custom .navbar-nav>.active>a:hover {
  background-color: #D96B27;
}

.navbar-custom .nav li a:focus, .navbar-custom .nav li a:hover {
  color: #ff711a;
}

.navbar-custom .navbar-nav>.active>a {
  background-color: #D96B27;
}

.btn-xl {
  background-color: #D96B27;
  border-color: #D96B27;
}

.btn-xl.active, .btn-xl:active, .btn-xl:focus, .btn-xl:hover, .open .dropdown-toggle.btn-xl {
    background-color: #ff711a;
    border-color: #ff711a;
}

.text-primary, a {
  color: #D96B27;
}

.paper {
  color: rgba(0, 0, 0, 0.87);
  background-color: rgb(255, 255, 255);
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 10px;
  border-radius: 2px;
  width: 100%;
  display: inline-block;
  padding: 20px;
}

footer {
  text-align: left;
}

.footer-logo {
  background-image: url(https://capitalplanning.nyc.gov/img/logo_120.png);
  background-repeat: no-repeat;
  width: 66px;
  height: 31px;
  background-size: 66px;
  float: left;
  margin-right: 16px;
  margin-top: 4px;
}
